:root{
    --cor1: #000000;
    --cor2: #636363;
    --cor3: #F2F2F2;
    --cor4: #FFFFFF;
    --cor5: #35B6CE;
}

.Cadastro{
    display: flex;
    color: var(--cor2);

}

.heroCadastro {
    background-image: url(registro.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    /* position: absolute; */
}

.formCadastro {
    background-color: var(--cor4);
    margin: 10px auto;
    min-width: 725px;
    height: 540px;
    max-width: 800px;
    border-radius: 15px;
    padding: 10px 0px;

}

form h1 {
    color:var(--cor2);
    font-weight: 500;
}

.formCheck{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.formCheck span {
    font-size: 14px;
    font-weight: 300;
    color: red;
    padding-left: 20px;
    position: absolute;
    margin-top: 20px;
}

.inputRadioRow {
    display: flex;
    flex-direction: row;
    justify-content:left;
    padding: 0px 0px 0px 60px;
    
}

.inputRadio  {
    margin-right: 20px;
}

.inputRadio input {
    display: flex;
}

.inputMaskType{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    margin-left: 50px;

}

.styleInfo {
    display: flex;
    border: none;
    border-bottom: 1px solid var(--cor2);
    width: 76%;
    height: 10px;
    padding: 9px 0px;
    font-size: 20px;
    outline: 0;
    cursor:text;
    margin-top: 30px;
    margin-left: 20px;
    color: var(--cor2);

}

.styleInfo:focus {
    border-bottom: 1px solid var(--cor5);
}

.inputInfo{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.cadastraCamp span{
    display: flex;
    font-size: 14px;
    font-weight: 300;
    color: red;
    padding-left: 20px;
    position: absolute;
}

#btnCadastro{
    background-color: var(--cor5);
    margin: 20px auto;
    width: 300px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    border: none;
    color: var(--cor3);
}

#btnCadastro:hover {
    background-color: #417F91;
}


