* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor1: #000000;
    --cor2: #636363;
    --cor3: #F2F2F2;
    --cor4: #FFFFFF;
    --cor5: #35B6CE;
}

.Cadastro{
    display: flex;
}

.heroTranfer {
    background-image: url(registro.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position:absolute;
}


.formTransfer {
    display: flex;
    background-color: var(--cor4);
    height: 530px;
    max-width: 900px;
    min-width: 910px;
    margin: 15px auto;
    border-radius: 7px;
}

.inputFormTransfer{
    display: flex;
    flex-direction: column;
    display: flex;
    padding: 40px 120px;
}

.inputFormTransfer h1 {
    display: flex;
    padding-bottom: 40px;
}

.valorTranfer{
    display: flex;
    flex-direction: column;
}

.valorTranfer input {
    height: 40px;
    width: 600px;
    font-size: 20px;
    padding-top: 15px;
    outline: 0;
    border: none;
    border-bottom: 1px solid var(--cor2);
    margin-left: 25px;
    cursor:text;
    color: var(--cor2);
}

.valorTranfer input::placeholder{
    font-size: 22px;

}

.valorTranfer p  {
    font-size: 20px;
    color: var(--cor2);
    position: absolute;
    display: flex;
    margin-left: 0px;
    margin-top: 10px;
    font-weight: 500;
}

.valorTranfer input:focus {
    border-bottom: 1px solid var(--cor5);

}
